* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
    line-height: 1.2;
    padding: 20px;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
}

h3 {
    font-size: 1.4em;
    margin-bottom: 5px;
}

p {
    margin-bottom: 10px;
    font-size: 1.1em;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 15px;
}

ul li {
    font-size: 1.1em;
    margin-bottom: 5px;
}

h3:first-of-type {
    margin-top: 0;
}

p a {
    color: inherit;
}

.inline-logo {
    width: 16px;
    height: auto;
    vertical-align: middle;
    margin-left: 3px;
    /* top: px; */
}

.inline-logo.nix {
    position: relative;
    top: -2px;
}

.inline-logo.uiuc {
    position: relative;
    width: 19px;
    top: -2px;
    margin-left: 2px;
}


.slabo-27px-regular {
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
}
