---
---

@import "{{ site.theme }}";

.page-header {
	background-image: url(/assets/robotics1.jpg), url(/assets/robotics2.jpg), url(/assets/robotics3.jpg);
	background-repeat: no-repeat;
	background-position: top right, top left, center;
	
}
